.labelText {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.labelText__label {
  color: var(--text-color-secondary);
}

.labelText__text {
  color: var(--text-color);
  direction: ltr;
}
